ul.list-group
    li.list-group-item
        a(href=`${myUrl}/admin/movie/create`) Film Oluştur
    li.list-group-item
        a(href=`${myUrl}/admin/movie/list`) Film Listesi
    hr
    li.list-group-item
        a(href=`${myUrl}/admin/movie/categoryList`) Kategori Listesi
    li.list-group-item
        a(href=`${myUrl}/admin/movie/createCategory`) Kategori Oluştur
    hr
    li.list-group-item
        a(href=`${myUrl}/admin/movie/createPerson`) Yönetmen / Oyuncu Ekle
    li.list-group-item
        a(href=`${myUrl}/admin/movie/personList`) Yönetmen / Oyuncu Listesi