extends layout/onlinePageLayout
block content
    section.mt-5
        .container-app
            .page-title
                .page-title-icon
                    i.fa-solid.fa-fire-flame-curved
                .page-title-body
                    span.page-title-body-text  Yeni &Ccedil;&imath;kanlar 
                    span.page-title-body-subtext
                    | Sizin &Idot;&ccedil;in Yeni &Ccedil;&imath;kan Filmler
    section.movieCardContent.mt-3
        .container-app
            #movieCards
                each val in list
                    .movie-card
                        .movie-card-cover
                            img(src=`${myUrl}/static/images/${val.cover}`, alt='')
                        .movie-card-body
                        .movie-card-body-title.mt-1= val.title
                            span.text-muted= '(' + val.year + ')'
                        each item in val.categoriesData
                            .movie-card-body-category.text-muted= item.title
                        a.movie-card-body-button.mt-2(href='#') Filmi &Idot;ncele
    section.mt-5
        .container-app
            .page-title
                .page-title-icon
                    i.fa-solid.fa-fire-flame-curved
                .page-title-body
                    span.page-title-body-text  En Be&gbreve;enilenler 
                    span.page-title-body-subtext
                    | Sizin &Idot;&ccedil;in Yeni &Ccedil;&imath;kan Filmler