extends ../layout/onlinePageLayout

block content
    section
        .container-app
            .row.pt-5
                .col-md-3
                    include ../partials/adminMenu
                .col-md-9
                    table.table#movieListTable
                        thead
                            tr
                                th(scope='col') Film Adı
                                th(scope='col') Film Orjinal Adı
                                th(scope='col') Kategoriler
                                th(scope='col') Yıl
                                th(scope='col') Imdb
                                th(scope='col') Yönetmen
                                th(scope='col') 
                        tbody
                            each val in list
                                 tr(data-id=val._id)
                                    td= val.title   
                                    td= val.originalTitle
                                    td
                                        each item in val.categoriesData
                                            span= item.title + ' '
                                    td= val.year 
                                    td= val.imdb
                                    td= val.directorData.name + ' ' + val.directorData.surName
                                    td
                                        a(href=`${myUrl}/admin/movie/update/`+val._id) Düzenle
                                        a.ms-3#deleteMovie(href=`${myUrl}/admin/movie/delete/`+val._id data-id=`${val._id}`) Sil
                                
                    a.button#loadMore(href='' class="btn btn-warning ") Daha Fazla...



                              
                                
                                  
                                              