extends ../layout/onlinePageLayout

block content
    section
        .container-app
            .row.pt-5
                .col-md-3
                    include ../partials/adminMenu
                .col-md-9
                    table.table#personListTable
                        thead
                            tr
                                th(scope='col') Adı
                                th(scope='col') Soyadı
                                th(scope='col') Meslek
                                th(scope='col') 
                        tbody
                            each val in personData
                                tr(data-id=val._id)

                                    td= val.name
                                    td= val.surName
                                    if val.personType === 1
                                        td Yönetmen
                                    else if val.personType === 2
                                        td Aktör
                                    else
                                        td Personel
                                    
                                    td
                                        a(href=`${myUrl}/admin/movie/updatePerson/`+val._id) Düzenle
                                        a.ms-3.deletePerson(href='' data-id=val._id) Sil
                                  

                    a.button#loadMorePerson(href='' class="btn btn-warning ") Daha Fazla...